.margin-vertical-10 {
	margin-top: 10px; 
	margin-bottom: 10px; 
}




.jsw-messages.ng-active {
  -webkit-animation: enter_sequence 1s linear; /* Safari/Chrome */
  animation: enter_sequence 1s linear; /* IE10+ and Future Browsers */
  opacity: 1;
}

@-webkit-keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}

@keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}

.jsw-messages.ng-inactive {
  -webkit-animation: leave_sequence 1s linear; /* Safari/Chrome */
  animation: leave_sequence 1s linear; /* IE10+ and Future Browsers */
}

@-webkit-keyframes leave_sequence {
  from { opacity:1; }
  to { opacity:0; }
}

@keyframes leave_sequence {
  from { opacity:1; }
  to { opacity:0; }
}


.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file button[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
